body {
    background: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 60px;
}

#q {
    color: gold;
}

input {
    background-color: black;
    border: none;
    border-bottom: solid;
    border-color: gold;
    color: white;
}

input:focus {
    outline: none;
}

#notice {
    margin-bottom: 35px;
}

#register-el {
    margin-top: 15px;
}

#login-el {
    margin-top: 15px;
}