body {
    background: black;
    color: white;
}

#q {
    color: gold;
}

input {
    background-color: black;
    border: none;
    border-bottom: solid;
    border-color: gold;
    color: white;
}

input:focus {
    outline: none;
}

#register-el {
    margin-top: 15px;
}

#login-el {
    margin-top: 15px;
}